<div>
  <h2><%= attrs[:hed]</h2>
</div>
<div>
  <p><%= attrs[:desc]</p>
</div>



<!-- <!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <style type="text/css">
    h2 { text-align: center;
         color:red;
         font-size: 50px;
         margin: 0 0 10px 10px;
         padding: 10px 10px 10px 10px;
       }
    p { color:blue;
        text-align: center;
        font-size: 30px;
        margin: 0 0 10px 10px;
        padding: 20px 20px 10px 10px;
      }
  </style>
  <body>
    <div>
      <h2>Sample Heading</h2>
    </div>
    <div>
      <p>Before going deep on Service Objects, it may be a good time to discuss the name of Service Objects. As I have in fact seen this come up more and more recently in places such as Reddit, Twitter, etc.</p>
    </div>
  </body>
</html> -->